<div class="col-xs-10 col-xs-offset-1 text-center">
	<br />
	<h1>About</h1>
	<div class="boxx text-left">
		<p>Business As Usual is a four piece dance-rock band based out of Chicago, IL. Forming in 2013, BAU's spent the two years playing high energy, multi-set shows all over Chicago and a few other Midwest locations. Each BAU show is a one-of-a-kind experience, taking the listener on a musical journey. Seamlessly blending elements of rock, electronica, funk, dub, and even bits of ska, the genre-hopping quartet is able to launch off into sections of exciting and memorable improvisation as they guide through different odds and ends of their catchy compositions. You've just been warned, your next Business meeting is mandatory.</p>
		<p>The band consists of Chief E-Drum Officer Gary Goodheart (drums), Chairman of the Boards Sean McKeon (keys), Senior Infrastructure Developer Daniel Ranieri (bass), and Lead Tatics Specialist Adrian Slezak (guitar). Want to get in touch with one us? Email the band <%= mail_to 'businessasusual@gmail.com', 'here' %>.
		<br />
		<br />
		<p>If you are interested in booking Business As Usual, please contact our manager Nick by clicking <%= mail_to "nickmorales86@gmail.com", 'here' %>.
		<br />
		<br />
		<p>All photos on the site are courtesy of Abby Matthews unless noted. You can check out more of her awesome work <%= link_to 'here', 'http://www.abbyfoxphotography.com/' %>.
	</div>
</div>