<div class="hero">
	<br />
	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br />
		<h4>Enter Your Email To Get Our Boardroom Meeting Minutes</h4>
		<br />
		<br />
			<%= simple_form_for :signup do |f| %>
			  <%= f.input :email, label: false, :placeholder => 'cantwaittoseeyou@ournextshow.com' %>
			  <br />
			  <%= f.submit 'Give Me Business As Usual\'s Boardroom Meeting Minutes', :class => 'btn btn-danger' %>
			<% end %>
			<br>
	</div>
</div>