<div class="hero">
	<br />
	<div class="frosty col-xs-8 col-xs-offset-2 text-center">
		<br />
		<h4>Enter Your Email To Get Our Boardroom Meeting Minutes</h4>
		<br />
		<br />
			<%= simple_form_for :signup, :url => signups_path do |f| %>
			  <%= f.input :email, label: false, :placeholder => 'Your Email Here...' %>
			  <br />
			  <%= f.submit 'Sign Up!', :class => 'btn btn-danger' %>
			<% end %>
			<br>
		</div>
		<div class="clr"></div>
		<br />

		<div class="col-xs-3 col-xs-offset-2 text-center">

       <div style="width: 100%; text-align: center; overflow: hidden; width: 240px; margin:0 auto;">
       	<div class="frosty">
	       <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/bau_chicago" data-widget-id="564641978797682689" data-chrome="nofooter noborders noheader noborders noscrollbar transparent" height="329" data-link-color="#FF2B4F" data-theme="dark">Tweets by @BAU_Chicago</a>
	       <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
	     	</div>
   		</div>

   	<div class="clr"></div>

   	<br />
   	<br />

   	<div class="fb-post" data-href="https://www.facebook.com/BAUsual/photos/a.384342688342324.1073741827.362970287146231/653586491417941/?type=1" data-width="500"></div>

    </div>


</div>
