<div class="col-xs-10 col-xs-offset-1 text-center">
	<br />
	<h1>Upcoming Shows</h1>
	<br />
		<div class="boxx col-xs-10 col-xs-offset-1 text-center">
			<h3>January 23rd, 2015 at Subterranean</h3>
			<br />
			<h4>2011 W. North Avenue<br />Chicago, IL 60647</h4>
			<br />
			<h5>With Chachuba & Dreamtap</h5>
			<br>
			<%= link_to 'Tickets', 'https://www.ticketfly.com/purchase/event/749657' %>
		</div>
</div>